<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="content-type" content="text/html" charset="UTF-8" >
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Profil</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <link href="https://fonts.gstatic.com" rel="preconnect" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <link
      th:href="@{/static/vendor/bootstrap/css/bootstrap.min.css}"
      rel="stylesheet"
    />
    <link
      th:href="@{/static/vendor/bootstrap-icons/bootstrap-icons.css}"
      rel="stylesheet"
    />
    <link th:href="@{/static/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet" />
    <link th:href="@{/static/vendor/quill/quill.snow.css}" rel="stylesheet" />
    <link th:href="@{/static/vendor/quill/quill.bubble.css}" rel="stylesheet" />
    <link th:href="@{/static/vendor/remixicon/remixicon.css}" rel="stylesheet" />
    <link th:href="@{/static/vendor/simple-datatables/style.css}" rel="stylesheet" />

    <link th:href="@{/static/css/style.css}" rel="stylesheet" />
  </head>

  <body>
    <header id="header" class="header d-flex align-items-center">
      <div class="d-flex align-items-center justify-content-between">
        <a th:href="@{accueil}" class="logo d-flex align-items-center">
          <span class="d-none d-lg-block">Page d'accueil</span>
        </a>
      </div>

      <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">
          <li class="nav-item dropdown pe-3">
            <a
              class="nav-link nav-profile d-flex align-items-center pe-0"
              href="#"
              data-bs-toggle="dropdown"
            >
              <img
                th:src="@{/static/img/profile-img.jpg}"
                alt="Profile"
                class="rounded-circle"
              />
              <span class="d-none d-md-block dropdown-toggle ps-2"  th:text="${session.user.getNom()}+ ' ' +${session.user.getPrenom()}"  ></span>
            </a>

            <ul
              class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile"
            >
              <li class="dropdown-header">
                <h6 th:text="${session.user.getNom()}+ ' ' +${session.user.getPrenom()}"></h6>
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>

              <li>
                <a
                  class="dropdown-item d-flex align-items-center"
                  th:href="@{profil}"
                >
                  <i class="bi bi-person"></i>
                  <span>Mon profil</span>
                </a>
              </li>

              <li>
                <hr class="dropdown-divider" />
              </li>

              <li>
                <a
                  class="dropdown-item d-flex align-items-center"
                  th:href="@{modification}"
                >
                  <i class="bi bi-gear"></i>
                  <span>Modification du Profil</span>
                </a>
              </li>

              <li>
                <hr class="dropdown-divider" />
              </li>

              <li>
                <a
                  class="dropdown-item d-flex align-items-center"
                  th:href="@{contact}"
                >
                  <i class="bi bi-question-circle"></i>
                  <span>Contact</span>
                </a>
              </li>

              <li>
                <hr class="dropdown-divider" />
              </li>

              <li>
                <a
                  class="dropdown-item d-flex align-items-center"
                  th:href="@{connexion}"
                >
                  <i class="bi bi-box-arrow-right"></i>
                  <span>se d&eacute;connecter</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </header>

    <main class="main mt-5">
      <div class="container">
        <div class="pagetitle">
          <h1>Profil</h1>
        </div>

        <section class="section profile">
          <div class="row">
            <div class="col-xl-4">
              <div class="card">
                <div
                  class="card-body profile-card pt-4 d-flex flex-column align-items-center"
                >
                  <img
                    th:src="@{/static/img/profile-img.jpg}"
                    alt="Profile"
                    class="rounded-circle"
                  />
                  <h2 th:text="${session.user.getNom()}+ ' ' +${session.user.getPrenom()}" ></h2>
                </div>
              </div>
            </div>

            <div class="col-xl-8">
              <div class="card">
                <div class="card-body pt-3">
                  <div class="profile-overview">
                    <h5 class="card-title">D&eacute;tails du profil</h5>

                    <div class="row">
                      <div class="col-lg-3 col-md-4 label">Nom</div>
                      <div class="col-lg-9 col-md-8" th:text="${session.user.getNom()}"></div>
                    </div>

                    <div class="row">
                      <div class="col-lg-3 col-md-4 label">pr&eacute;nom</div>
                      <div class="col-lg-9 col-md-8" th:text="${session.user.getPrenom()}"></div>
                    </div>

                    <div class="row">
                      <div class="col-lg-3 col-md-4 label">Adress e-mail</div>
                      <div class="col-lg-9 col-md-8" th:text="${session.user.getEmail()}"></div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center">
      <i class="bi bi-arrow-up-short"></i></a>

    <script th:src="@{/static/vendor/apexcharts/apexcharts.min.js}"></script>
    <script th:src="@{/static/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/static/vendor/chart.js/chart.umd.js}"></script>
    <script th:src="@{/static/vendor/echarts/echarts.min.js}"></script>
    <script th:src="@{/static/vendor/quill/quill.min.js}"></script>
    <script th:src="@{/static/vendor/simple-datatables/simple-datatables.js}"></script>
    <script th:src="@{/static/vendor/tinymce/tinymce.min.js}"></script>
    <script th:src="@{/static/vendor/php-email-form/validate.js}"></script>

    <script th:src="@{/static/js/main.js}"></script>
  </body>
</html>
